*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Arial;
}

body {
    background: rgb(255, 242, 219);
}

.checklist {

}

.checklist__item {
    display: block;
}

.checklist__item input:checked + span {
    color: rgb(177, 1, 1);
}

ul {
    color: white;
    background-color: black;
}